<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="keywords" content="sxsw, germans, germany, crowd, the it crowd, organisation, travel, startup, startups, technology, german engineering, das auto">
    <meta name="author" content="{{ site.author }}">
    <meta name="copyright" content="{{ site.copyright }}">
    <meta name="robots" content="index, follow">
    <meta http-equiv="content-type" content="text/html;UTF-8">
    <meta http-equiv="cache-control" content="public">
    <meta http-equiv="content-language" content="en">

    <meta NAME="subject" CONTENT="{{ site.title }}">
    <meta NAME="Classification" CONTENT="{{ site.description }}">
    <meta NAME="Language" CONTENT="English">
    <meta NAME="Designer" CONTENT="{{ site.author }}">
    <meta NAME="Publisher" CONTENT="{{ site.copyright }}">
    <meta NAME="distribution" CONTENT="Global">

    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.itkraut.at">
    <meta property="og:image" content="http://www.itkraut.at/img/itkraut.jpg">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="fb:admins" content="654324008,710437126,551316010">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:locale" content="en_US" />
    <meta itemprop="name" content="{{ site.title }}">
    <meta itemprop="description" content="{{ site.description }}">
    <meta itemprop="image" content="http://www.itkraut.at/img/itkraut.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@zeitkraut">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="Austin Hippie event meets Germany’s finest engineers. Germans are not world-renowned for diplomatic words; nerds are even less flowery with their language. ">
    <meta name="twitter:creator" content="@author_handle">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://www.itkraut.at/img/itkraut.jpg">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,800,300,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
