<!-- Services Section -->
    <section id="quotes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Quotes</h2>
                    <h3 class="section-subheading text-muted">What others are saying about the IT Kraut and the Interactive Dating Game @ SXSW</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-3 team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle">
                        <h4 class="service-heading">Claudia Nussbauer<br/>MWEIMH</h4>
                        <p class="text-muted">Mit dem Interactive Dating Game hat sich NRW bei der SXSW von seiner besten Seite gezeigt: Selbstbewusst, heiter, fantasievoll, vielfältig, erfolgreich und weltoffen. Die Macher haben rund um das Format ein dichtes Netz an guten Kontakten geknüpft [...]</p>
                    </div>
                    <div class="col-md-3 team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle">
                        <h4 class="service-heading">Martina Richter<br/>HMR International</h4>
                        <p class="text-muted">This is truly SXSW - and an amazing example of how famous TV Formats can find their way into startup events.</p>
                    </div>
                    <div class="col-md-3 team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle">
                        <h4 class="service-heading">Mike Butcher<br/>Editor At Large</h4>
                        <p class="text-muted">The dating game is the best way to meet VC’s and startups</p>
                    </div>
                    <div class="col-md-3 team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle">
                        <h4 class="service-heading">Wolfang Senges<br/>c3S</h4>
                        <p class="text-muted">Finally an event beyond common pitches that focuses on the core of it all: personal talks. It's awesome. It's real fun. A big thank you to the Interactive Dating Game Team and the sponsors who provided C3S with some generous prizes!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
