<!-- Services Section -->
    <section id="quotes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="jumbotron">
                        <p>
                            Germans are not world-renowned for diplomatic words; nerds are even less flowery with their language.<br/>
                            So, let’s put this straight: We’ve seen some SXSWs and it is a disastrous hippie event- Music at every corner, everyone’s staying out late at night and too many people laughing and chatting inefficiently while there is so much more to life at a convention (like coding or making real business). <br/>
                            No worries, Austin: We get on like a house on fire. How could we not love the home country of Knight Rider, Baywatch and Al Bundy?<br/>
                            Zis time, it’s on us to help. Get ready for your dose of German efficiency, German IT Kraut is here to save your event.<br/>
                            We offer you the precision of a cuckoo clock paired with pure “no-speed-limit” execution power.<br/>
                            Putting the pedal to the metal we’ll bring ten hand picked representatives from German tech scene to Austin. Accompanied by international VCs, politics and established leaders from Germany’s Fortune 500 industry.<br/>
                            Our first experiment in 2014, the “Interactive Dating Game”, resulted in a factor 2.4 better business networking effect while keeping the fun factor constant.<br/>
                            In 2015 we will add 3 more modules, certainly leading to an Autobahn of efficiency and fun.<br/>
                            Join our efficient fun in precisely:
                            <div class="clock" style="margin:0px auto;width:620px;"></div>
                        </p>
                    </div>                    
<!--                     <h2 class="section-heading">Quotes</h2>
                    <h3 class="section-subheading text-muted">What others are saying about the IT Kraut and the Interactive Dating Game @ SXSW</h3>
 -->            </div>
            </div>
<!--             <div class="row text-center">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-3 team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle">
                        <h4 class="service-heading">Claudia Nussbauer<br/>MWEIMH</h4>
                        <p class="text-muted">Mit dem Interactive Dating Game hat sich NRW bei der SXSW von seiner besten Seite gezeigt: Selbstbewusst, heiter, fantasievoll, vielfältig, erfolgreich und weltoffen. Die Macher haben rund um das Format ein dichtes Netz an guten Kontakten geknüpft [...]</p>
                    </div>
                    <div class="col-md-3 team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle">
                        <h4 class="service-heading">Martina Richter<br/>HMR International</h4>
                        <p class="text-muted">This is truly SXSW - and an amazing example of how famous TV Formats can find their way into startup events.</p>
                    </div>
                    <div class="col-md-3 team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle">
                        <h4 class="service-heading">Mike Butcher<br/>Editor At Large</h4>
                        <p class="text-muted">The dating game is the best way to meet VC’s and startups</p>
                    </div>
                    <div class="col-md-3 team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle">
                        <h4 class="service-heading">Wolfang Senges<br/>c3S</h4>
                        <p class="text-muted">Finally an event beyond common pitches that focuses on the core of it all: personal talks. It's awesome. It's real fun. A big thank you to the Interactive Dating Game Team and the sponsors who provided C3S with some generous prizes!</p>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
