<!-- About Section -->
    <section id="supporter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="jumbotron">
                        <h2 class="section-heading">Supporter</h2>
                        <p>We need help, Nuff said! If you want to support us or collaborate with the KRAUT, please feel free and drop us a line:  <br/><strong>high5@itkraut.at<br/></strong><br/>Why? Continue reading!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="http://railslove.com">
                        <img src="img/logos/railslove.jpg" class="img-responsive img-centered" alt="Railslove">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://hack.institute">
                        <img src="img/logos/hack-institute.jpg" class="img-responsive img-centered" alt="Hack.Institute">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://www.ufa-lab.com/">
                        <img src="img/logos/UFA_LAB_RGB_OUTL.png" class="img-responsive img-centered" alt="Daily Coffee Break">
                    </a>
                </div>
            </div>
            <div class="col-lg-12">
                <br>
                <h2 class="text-center">Wir brauchen dich!</h2>
                <br>
                <p>
                    Being German means being organized. And we are organized.
                    We’d love to connect more people and make this a journey that will enhance our success from 2014. To do so, we give away sponsorship opportunities. Talk to us directly, if you want to support this delegation journey of top notch techies, established industry veterans and journalists.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    <strong>We are looking for:</strong><br/>
                    <em>
                        Funding of the IT Kraut trip to provide startups with flights, tickets and housing<br/>
                        Any kind of support like flights, housing, transportation, etc.<br/>
                        Prices for the Dating Game
                    </em>
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    <strong>What’s in for you?</strong><br/>
                    <em>72,000 high-level professionals connected in the Music, Film and Interactive industries<br/>
                    Enormous international press coverage<br/>
                    We will be making noise for 10 days 24/7, blogging every day</br>
                    We will have X issues at one of the most important German Podcasts “Daily coffe break” with an estimated reach of over 10k.<br/>
                    Your name will be shown and mentioned at our web site, the podcast, on stage in the German Haus, on stage at the official SXSW Dating Game<br/>
                    We will spread marketing material to all attendees at the German Haus<br/>
                    Optional: Living with X representatives in the “Nerd Haus” and utilizing our knowledge and network (talking about actual people AND the wifi)<br/>
                    Optional: Create your own campaign around the “IT Kraut Nerd Haus”<br/>
                    Optional: One day consultancy/recap of the event by one of our IT Krauts back home in your office</em>
                </p>
            </div>
        </div>
    </section>
