<!-- Services Section -->
    <section id="vision">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Probably* the best mixture of technology and entertainment since Knight Rider</h2>
                    <h3 class="section-subheading text-muted">* First high-level estimation of 98,785%, Source: Own data</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <div class="jumbotron">
                        <p>The Marshall plan supported us viz our infrastructure, David Hasselhoff united our country by singing down the Vall. 25 years later it’s time to say:<br/>
                        ZANK YOU, AMERICA!<br/>
                        Germans are not world-renowned for diplomatic words; nerds are even less flowery with their language.<br/>
                        So, let’s put this straight: We’ve seen some SXSWs and it is a disastrous hippie event- Music at every corner, everyone’s staying out late at night and too many people laughing and chatting inefficiently while there is so much more to life at a convention (like coding or making real business). <br/>
                        No worries, Austin: We get on like a house on fire. How could we not love the home country of Knight Rider, Baywatch and Al Bundy?<br/>
                        Zis time, it’s on us to help. Get ready for your dose of German efficiency, German IT Kraut is here to save your event.<br/>
                        We offer you the precision of a cuckoo clock paired with pure “no-speed-limit” execution power.<br/>
                        Putting the pedal to the metal we’ll bring ten hand picked representatives from German tech scene to Austin. Accompanied by international VCs, politics and established leaders from Germany’s Fortune 500 industry.<br/>
                        Our first experiment in 2014, the “Interactive Dating Game”, resulted in a factor 2.4 better business networking effect while keeping the fun factor constant.<br/>
                        In 2015 we will add 3 more modules, certainly leading to an Autobahn of efficiency and fun.<br/>
                        Join our efficient fun in precisely:<br/>
                        <h4>102 days</h4>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
