<!-- Services Section -->
    <section id="vision">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <div class="jumbotron">
                        <p>We are a community of German geeks promoting German Engineering in tech. We build international brigdes between startups, established Fortune 500 companies, governments and investors. You'll find us at the most important conventions.<br/>Next Stop: SXSW 2015, Austin.
                    </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Probably* the best mixture of technology and entertainment since Knight Rider</h2>
                    <h3 class="section-subheading text-muted">* First high-level estimation of 98,785%, Source: Own data</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <div class="jumbotron">
                        <p>The Marshall plan supported us viz our infrastructure, David Hasselhoff united our country by singing down the Vall. 25 years later it’s time to say:
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
