<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      lang="en"
      itemscope itemtype="http://schema.org/WebPage">

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include vision.html %}
    {% include hero-image.html class='as-recovery' text='ZANK YOU, AMERICA!' %}
    {% include quotes.html %}
    {% include hero-image.html class='as-hassel' text='Ich hatte nichts mit dem Mauerfall zu tun!' %}
    {% include gallery.html %}
    {% include schedule.html %}
    {% include delegation.html %}
    {% include hero-image.html class='as-wm' text='Deutschland in Texas!' %}
    {% include supporter.html %}
    {% include contact.html %}
    {% include team.html %}   
    {% include dcb.html %} 
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
