<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include vision.html %}
    {% include quotes.html %}
    {% include gallery.html %}
    {% include schedule.html %}
    {% include delegation.html %}
    {% include history.html %}    
    {% include supporter.html %}
    {% include team.html %}    
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>